
@import url('https://fonts.googleapis.com/css2?family=Roboto:wght@300&display=swap');

*{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    font-family: 'Roboto', sans-serif;
    font-weight: 700;
}

html{
    background: #202530;
    box-sizing: border-box;
}

body{
    background: #202530 !important;
    box-sizing: border-box;
}

section{
    background: #202530 !important;
}