
.title{
    display: flex;
    justify-content: center;
    align-items: center;
    background: #202530;
    color: #fff;
}

/*SEARCH SECTION*/
.row{
    text-align: center;
}

.col{
    padding-right: 0 !important;
    margin: .5rem;
}

.search-section{
    padding-top: 2rem !important;
    background: #202530;
    color: #fff;
}

.asesor{
    margin-top: 0 !important;
}

/*MEASURER*/

.measurer{
    justify-content: space-around;
    color: #fff;
    text-align: center;
    background: #202530;
    margin: 25px;
    padding-top: 5rem;
}

.card-container{
    justify-content: center;
}

.measurer .card{
    position: relative;
    width: 250px;
    display: flex;
    justify-content: center;
    align-items: center;
    height: 300px;
    border-radius: 4px;
    border: none;
    text-align: center;
    overflow: hidden;
    transition: 0.5s;
}

.container .card::before{
    content: '';
    position: absolute;
    top: 0;
    left: 0;
    width: 100%;
    height: 100%;
    pointer-events: none;
    z-index: 1;
}

.percent{
    position: relative;
    width: 235px;
    height: 235px;
    border-radius: 50%;
    box-shadow: 0px 0px 0px 2rem #112033 inset;
    -webkit-box-shadow: 0px 0px 0px 2rem #112033 inset;
    -moz-box-shadow: 0px 0px 0px 2rem #112033 inset;
    background: #f49d1c;
    z-index: 1000;
}

.percent .number{
    position: absolute;
    top: 0;
    left: 0;
    width: 100%;
    height: 100%;
    display: flex;
    justify-content: center;
    align-items: center;
    border-radius: 50%;
}

.percent .number h2{
    color: #fff;
    font-weight: 700;
    font-size: 40px;
    transition: 0.5s;
}

.percent .number h2 span{
    font-size: 24px;
    color: #fff;
}

.text{
    position: relative;
    color: #fff;
    margin-top: 20px;
    font-weight: 700;
    font-size: 18px;
    letter-spacing: 1px;
    text-transform: uppercase;
    transition: 0.5s;
}

svg{
    position: relative;
    width: 235px;
    height: 235px;
    z-index: 1000;
}

svg circle{
    width: 100%;
    height: 100%;
    fill: none;
    stroke: #d7d8d2;
    stroke-width: 15;
    transform: translate(10px,10px);
}

svg circle:nth-child(2){
    stroke-dasharray: 680;
    stroke-dashoffset: 680;
}

.card svg circle:nth-child(2){
    stroke-dashoffset: calc(680 - (680 * var(--i)) / 100);
    stroke: #f79925;
}

.measurer p{
    padding-bottom: 15px;
}

/*STYLES NO BOOTSTRAP*/

.fila{
    display: block;
}

.fila.measurer{
    align-items: flex-start;
}

.fila .card{
    margin: auto;
    background: #112033;
}

.fila .card-container{
    background: #112033;
    display: block;
    padding: 1rem;
    border: 1px solid #fff;
    font-weight: 700;
}

.table-data{
    margin-top: 2rem;
}

.head-grid-hogar{
    display: grid;
    grid-template-columns: repeat(6,1fr);
}

.head-grid-movil{
    display: grid;
    grid-template-columns: repeat(5,1fr);
}

.head-grid-hogar div,.head-grid-movil div{
    border: 1px solid #fff;
}

.body-grid-hogar{
    display: grid;
    grid-template-columns: repeat(6,1fr);
}

.body-grid-movil{
    display: grid;
    grid-template-columns: repeat(5,1fr);
}

.body-grid-hogar div,.body-grid-movil div{
    border: 1px solid #fff;
}

.body-grid-hogar p,.body-grid-movil p{
    margin-bottom: 0;
    padding-bottom: 0;
    padding: 1rem;
}

.sold{
    background: #405191;
}

.ugi{
    background: #02775c;
}

.fila-planes-sup{
    margin: auto;
    text-align: center;
    padding: 1.5rem;
}

.fila-planes-sup .card {
    background: transparent;
}

.planes-percent{
    background: #112033;
    gap: 1rem;
    border: 1px solid #fff;
}

.plan-percent-container:nth-child(1) .percent{
    background: #f5641b;
}

.plan-percent-container:nth-child(1) .card svg circle:nth-child(2){
    stroke: #f5641b;
}

.plan-percent-container:nth-child(2) .percent{
    background: #c127e5;
}

.plan-percent-container:nth-child(2) .card svg circle:nth-child(2){
    stroke: #c127e5;
}

.plan-percent-container:nth-child(3) .percent{
    background: #f11e3e;
}

.plan-percent-container:nth-child(3) .card svg circle:nth-child(2){
    stroke: #f11e3e;
}

.plan-percent-container{
    background: #112033;
    padding: 1rem;
}

.plan-percent-container .card{
    border: none;
}

.plan-percent-container .card .percent{
    position: relative;
    width: 150px;
    height: 150px;
    border-radius: 50%;
    margin: auto;
}

.plan-percent-container .card svg{
    position: relative;
    width: 150px;
    height: 150px;
    z-index: 1000;
}

.plan-percent-container .number h2{
    font-size: 1.5em;
}

.plan-percent-container .card svg circle{
    width: 100%;
    height: 100%;
    fill: none;
    stroke: #d7d8d2;
    stroke-width: 10;
    transform: translate(5px,5px);
}

.plan-percent-container .card svg circle:nth-child(2){
    stroke-dasharray: 440;
    stroke-dashoffset: 440;
}

.plan-percent-container .card svg circle:nth-child(2){
    stroke-dashoffset: calc(440 - (440 * var(--i)) / 100);
    stroke: #f79925;
}

@media only screen and (min-width:620px) {

    .fila{
        display: grid;
        grid-template-columns: 1.5fr 2fr;
    }

    .fila .card-container{
        margin-right: 1.5rem;
    }

    .table-data-sup{
        margin-top: 0;
    }

    .fila-planes-sup{
        display: grid;
        grid-template-columns: repeat(2,1fr);
        gap: .5rem;
        margin: auto;
        text-align: center;
        padding-right: 5rem;
    }

    .planes-percent{
        background: #112033;
        display: flex;
        gap: 1rem;
        border: 1px solid #fff;
    }

}