.navbar{
    background: #0d6efd;
}

.navbar-brand img{
    width: 13rem;
    min-width: 100%;
}

section{
    margin-top: 7rem;
}

.nav-link{
    border: 0 !important;
    background: #fff !important;
}

.proob{
    width: 100vw;
}

.proob img{
    width: 50vw;
    width: 100%;
}

.logo button{
    all: unset;
}

#success{
    z-index: 10000;
    position: fixed;
    top: 15vh;
    left: 12vw;
    display: flex;
    align-items: center;
    justify-content: center;
    color: #fff;
}

#success div{
    margin-bottom: 0 !important;
    padding: .5rem !important;
    display: flex;
    align-items: center;
    justify-content: center;
    font-size: 1.5em;
    width: 75vw;
}

#success p{
    margin-bottom: 0 !important;
    text-transform: uppercase;

}

.no-visible{
    display: none !important;
}
